.anime-container {
  height: 60vh;
  position: relative;
}

.anime-img {
  height: 100%;
  clip-path: circle();
  transition: all 0.3s;
}

.anime-title {
  font-size: 3rem;
  opacity: 0;
  color: white;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
  text-transform: uppercase;
}

.anime-container:hover .anime-img {
  filter: grayscale(80%);
}

.anime-container:hover .anime-title {
  opacity: 1;
  top: 50%;
}
