.twitch-img-container {
  width: 60vw;
  height: 60vh;
  position: relative;
}

.emote {
  position: absolute;
  box-shadow: 0 1.5rem 1rem black;
  transition: all 0.3s;
  height: 15rem;
  outline-offset: 1rem;
}

.emote:hover {
  transform: scale(2);
  box-shadow: 0 3rem 1rem blue;
  outline: 1rem solid orange;
  z-index: 2;
}

.twitch-img-container:hover .emote:not(:hover) {
  transform: scale(0.8);
  opacity: 0.3;
}
.twitch-img-1 {
  top: 8%;
  right: 15%;
}

.twitch-img-2 {
  top: 15%;
  right: 35%;
}

.twitch-img-3 {
  top: 50%;
}

.twitch-img-4 {
  top: 47%;
  left: 20%;
}
