@import "./variables";
@import "./btn";
@import "./panda_effect";
@import "./text-effect";
@import "./gallery_effect";
@import "./anime_header_img_effect";

.container {
  width: 80vh;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  align-items: center;
  text-align: center;
}
