html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.anime-container {
  margin: 5rem auto;
  height: 60vh;
  width: 60vw;
  position: relative;
}

.anime-img {
  -webkit-clip-path: circle();
          clip-path: circle();
  max-width: 100%;
  height: 100%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.anime-title {
  opacity: 0;
  font-size: 3.2rem;
  color: #ff5722;
  position: absolute;
  top: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.anime-container:hover .anime-title {
  opacity: 1;
  top: 50%;
}

.anime-container:hover .anime-img {
  -webkit-filter: blur(0.3rem);
          filter: blur(0.3rem);
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  text-decoration: none;
  margin: 5rem auto;
  padding: 1.3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  border: 2px solid #455a64;
  -webkit-box-shadow: 0 13px 0.5rem #000;
          box-shadow: 0 13px 0.5rem #000;
  color: #000;
  z-index: 1;
}

.simple-button {
  background-color: #b2ebf2;
}

.simple-button:hover {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  color: #ffa000;
}

.simple-button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
  background-color: #ffecb3;
  border-radius: 50%;
  -webkit-transform: scale(2);
          transform: scale(2);
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.simple-button:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.btn:active {
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.twitch-img-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 2px solid #455a64;
  margin: 5rem auto;
  width: 80vw;
  height: 70vh;
  position: relative;
}

.twitch-img-gallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  width: 60vw;
  height: 30vh;
}

.emote {
  max-width: 100%;
  height: 100%;
  -webkit-box-shadow: 0 1.5rem 1rem #000;
          box-shadow: 0 1.5rem 1rem #000;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  outline-offset: 0.5rem;
  margin: 0.5rem;
}

.emote:hover {
  -webkit-transform: scale(1.6);
          transform: scale(1.6);
  -webkit-box-shadow: 0 0 2rem #fbc02d;
          box-shadow: 0 0 2rem #fbc02d;
  outline: 0.5rem solid #000;
  z-index: 1;
}

.twitch-img-gallery:hover .emote:not(:hover) {
  -webkit-transform: scale(0.7);
          transform: scale(0.7);
  opacity: 0.3;
}

.red-panda-effect {
  margin: 5rem auto;
  height: 20rem;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  border-radius: 50%;
  -webkit-filter: blur(1.8px);
          filter: blur(1.8px);
}

.red-panda-effect:hover {
  -webkit-filter: none;
          filter: none;
  border-radius: 1.5rem;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.text {
  margin: 5rem auto;
  background-image: url("./media/space.jpg");
  background-position: center;
  color: transparent;
  font-size: 5rem;
  -webkit-background-clip: text;
  position: relative;
  overflow: hidden;
  -webkit-transition: all 0.8s;
  transition: all 0.8s;
}

.text-effect::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
  background-color: #ffc107;
  -webkit-transition: all 1s;
  transition: all 1s;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
  border-radius: 50%;
}

.text-effect:hover::before {
  -webkit-transform: scale(0);
          transform: scale(0);
}

.text-effect:hover {
  -webkit-transform: skewY(-15deg);
          transform: skewY(-15deg);
  letter-spacing: 1.5rem;
}

html,
body {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.container {
  margin: 2rem auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 1rem;
  font-size: 1.5rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}
/*# sourceMappingURL=style.css.map */