@import "./variables";

.anime-container {
  margin: 20% auto;
  height: 60vh;
  width: 100%;
  position: relative;
  border: 2px solid $black;
  border-radius: 50%;
  overflow: hidden;
}

.anime-img {
  height: 100%;
  transition: all 0.3s;
}

.anime-title {
  font-size: 4rem;
  opacity: 1;
  color: $red;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.anime-container:hover .anime-title {
  top: 50%;
  opacity: 1;
}

.anime-container:hover .anime-img {
  filter: blur(0.3rem);
}
