@import "./variables";

.anime-container {
  margin: 5rem auto;
  height: 60vh;
  width: 60vw;
  position: relative;
}

.anime-img {
  clip-path: circle();
  max-width: 100%;
  height: 100%;
  transition: all 0.3s;
}

.anime-title {
  opacity: 0;
  font-size: 3.2rem;
  color: $red;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.3s;
}

.anime-container:hover .anime-title {
  opacity: 1;
  top: 50%;
}

.anime-container:hover .anime-img {
  filter: blur(0.3rem);
}
