@import "./variables";

.btn {
  text-decoration: none;
  margin: 5rem auto;
  padding: 1.3rem;
  font-size: 1.5rem;
  border-radius: 2rem;
  position: relative;
  overflow: hidden;
  @include border();
  box-shadow: 0 13px 0.5rem $black;
  color: $black;
  z-index: 1;
}

.simple-button {
  background-color: $btn-hover-backround;
}

.simple-button:hover {
  transition: 0.5s ease-in-out;
  color: $dark-amber;
}

.simple-button::before {
  @include pseudo-ele-before-setup();
  z-index: -1;
  background-color: $btn-backround;
  border-radius: 50%;
  transform: scale(2);
  transition: all 0.8s;
}

.simple-button:hover::before {
  transform: scale(0);
}

.btn:active {
  transition: all 0.5s;
  transform: scale(1.2);
}
