@import "./variables";

.twitch-img-container {
  @include flexbox-to-center();
  @include border();
  margin: 5rem auto;
  width: 80vw;
  height: 70vh;
  position: relative;
}

.twitch-img-gallery {
  @include flexbox-to-center();
  position: absolute;
  width: 60vw;
  height: 30vh;
}

.emote {
  max-width: 100%;
  height: 100%;
  box-shadow: 0 1.5rem 1rem $black;
  transition: all 0.3s;
  outline-offset: 0.5rem;
  margin: 0.5rem;
}

.emote:hover {
  transform: scale(1.6);
  box-shadow: 0 0 2rem $box-shadow-gallery;
  outline: 0.5rem solid $black;
  z-index: 1;
}

.twitch-img-gallery:hover .emote:not(:hover) {
  transform: scale(0.7);
  opacity: 0.3;
}

// ::only-of-type
