@import "./variables";

.text {
  margin: 30% auto;
  background-image: url("./media/space.jpg");
  background-position: center;
  color: transparent;
  font-size: 5rem;
  -webkit-background-clip: text;
  position: relative;
  overflow: hidden;
  transition: all 0.8s;
}

.text-effect::before {
  @include pseudo-ele-before-setup();
  z-index: 1;
  background-color: $text-effect-backround;
  transition: all 1s;
  transform: scale(1.5);
  border-radius: 50%;
}

.text-effect:hover::before {
  transform: scale(0);
}

.text-effect:hover {
  transform: skewY(-10deg);
  letter-spacing: 1.5rem;
}
